<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}"/>
</head>

<body>

<h1>Edit Student</h1>

<form th:action="@{/students/update}" th:object="${student}" method="post">
    <input type="hidden" th:name="${'_method'}" th:value="PUT"/>
    <input type="hidden" th:name="${'id'}" th:value="${student.id}"/>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstname" th:field="*{firstname}" required>
    <br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastname" th:field="*{lastname}" required>
    <br>

    <label for="birthdate">Birth Date:</label>
    <input type="date" id="birthdate" name="birth" th:value="${student.birth}" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required>
    <br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" th:field="*{phone}" required>
    <br>

    <input type="submit" value="Update">
</form>

<br/>
<br/>

<!-- Button to go back to the student list -->
<form th:action="@{/students/list}" method="get">
    <button type="submit">Go Back to Student List</button>
</form>

<br/>
<br/>

</body>

</html>