<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}"/>
</head>

<body>
<h1>Success!</h1>
<p th:if="${action == 'saved'}">Student successfully saved!</p>
<p th:if="${action == 'updated'}">Student successfully updated!</p>
<p th:if="${action == 'deleted'}">Student successfully deleted!</p>
<p>Total Records: <span th:text="${totalRecords}"/></p>

<br/>
<br/>

<a th:href="@{/students/form-for-save}">Go back to Add Student Form</a>

<br/>

<!-- Button to go back to the student list -->
<form th:action="@{/students/list}" method="get">
    <button type="submit">Go Back to Student List</button>
</form>

<br/>
<br/>

</body>
</html>